
/* General ===============*/
* {
    box-sizing: border-box;
    text-decoration: none;
    cursor: url(image), default;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-decoration: none;
    overflow-x: hidden;
}
footer {
    text-align: center;
    background-color: yellow;
    color: #100010;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

.home {
    background-color: #dfdfdf;
}

/* ==== Landing Image ============== */
#showcase {
    background-image: url(images/sofiazoestellateaser_1-copy.gif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;

}

#showcase h1 {
    font-size: 50px;  
    color: yellow;
}
#showcase h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;  
    color: yellow;
}
#showcase p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;  
    color: yellow;
}


#showcase .button{
    font-size: 18px;
    text-decoration:wavy;
    color: yellow;

}
/* Nav Bar ----------------------------------------------------*/

header {
    width: 100%;
    position: absolute;
    z-index: 10;
    font-family: swear-display-cilati;
    font-weight: 400;
    font-size: 17px;
    font-style: italic;
}

@media only screen and (min-width: 801px){

    nav li, nav a{
        display: inline-block;
    }

    .navbar, #nav-profile {
        float: right;
    }

    nav ul {
        float: right;
        
    }

    nav a {
        margin: 20px 30px;
        font-size: 25px;
        letter-spacing: 3px;
        color: #666;
        transition: 0.25s;
    }
    nav a:hover {
        color: #b9b9b9;
        cursor: pointer;
    }
    .hamburger-menu, .sub-menu li{
        display: none;
    }
    
    .hamburger-content {
        transition: 0.5s;
        transform: translate(20vw, -115px);
        transition-property: all;
    }
}

.logo {
    position: absolute;
    width: 300px;
    margin: 0px 20px;
    overflow-x: visible;
    cursor: pointer;
}

@media only screen and (max-width: 800px){

    .sub-menu{
        border: none;
        color: white;
        height: 100px;
        width: 100px;
    }
    
    .sub-menu {
        float: right;
    }
    .hamburger-menu {
        width: 60px;
        z-index: 15;
        margin-top: 30px;
    }
    
    .hamburger-content {
        background: none;
        z-index: -3;
        text-align: left;
        transition: 0.25s;
        transform: translate(30vw, -115px);
        transition-property: all;
    
    }
    
    .hamburger-content a {
        color: black;
        padding: 12px 100px 0 0px;
        margin-left: 0;
        text-decoration: none;
        display: block;
        font-size: 20px;
    }

    .hamburger-content li {
        background-color: #f2f2f2;
        color:black;
        padding-top: 10px;
        padding-top: 10px;
    }

    .hamburger-content ol {
        list-style: none;
        transition:0.5s;
        z-index: 0;
        width: 250px;
        background-color: #f2f2f2;
    }
    .sub-menu:hover .hamburger-content {
        transform: translate(-15vw, -115px);
    }
    .hamburger-content a:hover {
        transition:0.3s;
        color:#a5a5a5
    }
    .navbar{
        display: none;
    }
    .dropdown-content {
        display: none;
    }
    #nav-profile {
        display: none;
    }
}

@media only screen and (max-width: 1000px){
    nav a {
        letter-spacing: 0px;
        transition: 0.5s;

    }
}

@media only screen and (max-width: 900px){
    nav a {
        margin: 20px 25px;
        transition: 0.5s;

    }
}

@media only screen and (min-width: 415px){
    .phonelogo {
        display: none;
    }
}
@media only screen and (max-width: 415px){
    .logo {
        display: none;
    }

    .phonelogo {
        align-content: center;
        height: 110px;
    }
    .phonelogo img {
        margin: 0 20vw;
        width: 60vw;
    }
    .sub-menu{
        position:absolute;
        border: none;
        color: white;
        height: 100px;
        width: 100px;
        transform: translate(83vw, -27vh);
    }
    .hamburger-menu {
        width: 40px;
        z-index: 15;
        margin-top: 10px;
        margin-right: 5px;
        padding-top: 90px;
        overflow-x: hidden;
    }
  
}

/* ========== images home layout=================================*/
.container {
    width: 100vw;
    position: relative;
}
.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 27%;
   
}

.container .box .dream img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
}

@media only screen and (max-width: 650px){
    .container .box {
        flex-direction: column;
    }
    .container .box .dream {
        width: 100%;
        padding-left: 90px;
        padding-right: 90px;
    }
    
}


@media only screen and (max-width: 415px){

    .container .box .dream {
        padding-top: 0px;
    }
    
}


@media only screen and (max-width: 375px){
    .container .box .dream {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    
}

/* =================== HOME HOVER ========== */
.figure {
    position: relative;
    max-width: 100%;
}
.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .5s;
}
.figure:hover img.image-hover {
  opacity: 1;
  cursor: pointer;
}

.figure:hover a#stella img.image-hover {
    cursor: url(images/cursor.gif), default;
}
.figure:hover a#pottery img.image-hover {
    cursor: url(images/potterycursor.png), default;
}
.figure:hover a#mandarin img.image-hover {
    cursor: url(images/mandarincursor.png), default;
}
.figure:hover a#bella img.image-hover {
    cursor: url(images/bellacursor.png), default;
}

/* -============== Stella/GENERAL FEATURE PAGE ======================*/
#column1 {
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    width: 50vw;
    height: 100vh;
    padding: 2em;
    padding-top: 150px;
}

#column2 {
    position: absolute;
    top: 0;
    left: 50vw;
    overflow: auto;
    width: 50vw;
    max-width: 50vw;
    height: 100vh;
    padding: 2em;
    padding-top: 100px;
}

.container-stella {
    width: 100vw;
    color: rgb(74, 74, 74);
    position: relative;
}

.column-stella p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align:  justify;
    letter-spacing: -0.7px;
    columns: 2;
    column-gap: 23px;
}
.column-stella h3 {
    font-family: roc-grotesk-extrawide, sans-serif;
    font-weight: 500;
    text-align:  right;
    font-size: 25px;
    letter-spacing: -0.7px;
}
.column-stella h1 {
    padding-top: 18px;
    font-family: swear-display-cilati, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 57px;
    color: yellow;
    line-height: 8px;
   text-align: left;
}

.container-stella .box-stella {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20vh;
    
}
.container-stella .box-stella .column-stella {
    display: flex;
    flex-direction: column;
    width: 44%;
    padding-top: 150px;
}

.container-stella .box-stella .column-stella img {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {

    .container-stella .box-stella .column-stella {
        display: block;
        /* flex-direction: column; */
        width: 100%;
        padding-top: 0;
    }
    
    #column1 {
        float: left;
        /* top: 0;
        left: 0; */
        /* overflow: hidden; */
        width: 100vw;
        height: 200px;
        padding: 2em;
        padding-top: 0;
    }
    
    #column2 {
        clear: both;
        float: left;
        /* overflow: auto; */
        width: 100vw;
        max-width: 100vw;
        height: autovh;
        padding: 2em;
        padding-top: 140px;
    }

    
}

/* ============== CONTACT PAGE ==============  */


.contact-box {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
}

.contact-section {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-info {
    color: #666;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
    color: #666;
}

.contact-info, .contact-form {
    flex: 1;
}

.contact-form .text-box {
    background:yellow;
    color: #666;
    border: none;
    width: calc(50%-10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.8;
}

.contact-form .text-box:first-child {
    margin-right: 15px;
}

.contact-form textarea {
    background: yellow;
    color: #666;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn {
    float: right;
    background: #666;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover {
    background:#b9b9b9;
}

.linkinsta {
    color: #666;
    text-decoration: underline;
}

@media screen and (max-width: 700px){
    .contact-section {
        flex-direction: column;
    }
    .contact-info {
        padding-top: 60px;
    }
    .contact-info, .contact-form {
        margin: 30px 50px;
    }
    .contact-form h2 {
        font-size: 30px;
    }
    .contact-form .text-box {
        width: 100%;
    }
}

/* ====== alert message =====*/

.alert-success {
    z-index: 1;
    background: greenyellow;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-radius: 4px;
}

.alert-error {
    z-index: 1;
    background: orange;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-radius: 4px;
}

/* ============== ARCHIVE PAGE ===========================  */

.archives-body {
    background:url(images/contactbackground.jpg);
    z-index: 50;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

 /* ================ DIRECTORY =================*/
#directorybod {
    background: url(images/cloudgif.gif);
    background-size: 100vw;
}

 .directory {
    display: flex;
    float: left;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 120px;
}
.dirtitle {
    font-family: swear-display-cilati, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 35px;
    color: yellow;
}

 .directory-text {
     font-family: Arial, Helvetica, sans-serif;
     color: #666;
     font-size: 17px;
     border-bottom: #666;
     border-width: 3px;
 }

.directory-text a {
    color: #666;
    text-decoration: underline;
    cursor: pointer;
}


/* ============= landing Typing Animation =======*/
.line {
    font-size: 2.5rem;
    text-align: center;
    font-family: swear-display-cilati, sans-serif;
    font-weight: 400;
    border-right: solid 2px rgba(255,255,255,0.7);
    white-space: nowrap;
    overflow: hidden;
    width: 14ch;
    animation: typewriter 3s steps(22) 1s , cursor 500ms steps(22) infinite;
    animation-iteration-count: 10;
}
/* typewriter animation */
@keyframes typewriter {
    0%{width: 0;}
    100%{width: 14ch;}
}
/* cursor animation */
@keyframes cursor {
    0%{border-right-color: rgba(255,255,255,0.7);}
    100%{border-right-color: transparent;}   
}

/* ================ SLIDER HOME ========== */
.slider {
    position: relative;
    width: 100%;
    background: #dfdfdf;
    padding-top: 12%;
    padding-bottom: 30px;
}

.myslider {
    height: 500px;
    overflow: hidden;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
}
.prev:hover, .next:hover {
    color: #b9b9b9;
}

.next {
    right: 0;
}

.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.active, .dot:hover{
    border-color: yellow;
    cursor: pointer;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
}
.txt {
    position: absolute;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align:justify; */
    letter-spacing: 2px;
    padding-top: 10%;
    padding-left: 24vh;
    padding-right: 24vh;
    z-index: 1;
}


.txt h1 {
    color: yellow;
    /* font-family: roc-grotesk-extrawide, sans-serif;
    font-weight: 400;
    font-style: normal; */
    font-style: italic;
    font-family: swear-display-cilati, sans-serif;
    font-weight: 350;
    font-size: 50px;
    line-height: 40px;
}

.txt p {
    font-size: 17px;
    color: white;
}

.imgg {
    object-fit: cover;
}
@media screen and (max-width: 1100px) {
    .dotsbox {
        bottom: 35px;
    }
}

@media screen and (max-width: 950px){
    .slider{
    padding-top: 15%;
}

    .dotsbox {
        bottom: 35px;
    }
}
@media screen and (max-width: 680px) {
    .txt p {
        font-size: 15px;
    }
    .txt h1 {
        font-size: 40px;
    }
    .dotsbox {
        bottom: 50px;
    }
    .txt {
        padding-left: 15vw;
        padding-right: 15vw;
        padding-top: 15%;
    }
    .slider{
        padding-top: 24%;
    }
  
}

@media screen and (max-width: 375px) {

   .dotsbox {
    bottom: 80px;
}

.dot {
    margin: 0 5px;
}

   .slider {
    position: relative;
    width: 100%;
    background: #dfdfdf;
    padding-top: 0%;
}

.myslider {
    height: 380px;
    overflow: hidden;
}
.txt {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 6%;
}

}

/* @media screen and (max-width: 800px) {
    .slider{
        padding-top: 18%;
    }

    .myslider {
        height: 500px;
    }

    .txt {
        padding-top: 55%;
        padding-left: 60%;
        transform: translate(-50%, -50%);
    }

    .txt h1 {
        font-size: 40px;
    }
    .txt p {
        font-size: 15px;
    }
}

@media screen and (max-width: 690px){
    .slider{
    padding-top: 23%;}
    
    .txt {
        padding-left: 70%;
        padding-top: 65%;
    }
    .txt h1 {
        font-size: 35px;
    }
    .txt p {
        font-size: 15px;
    }
}

@media screen and (max-width: 560px){
    .slider{
    padding-top: 26%;}
    
    .txt {
        padding-left: 85%;
        padding-top: 75%;
    }
}
@media screen and (max-width: 560px){
    .slider{
    padding-top: 26%;}
    
    .txt {
        padding-left: 85%;
        padding-top: 75%;
    }
} */


/* ================ THE POTTERY PAGE ========== */

.potteryvid {
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.potteryvid iframe {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10%;
    padding-top: 12%;
    width: 90%;
    height: 90%;
}

.logopot {
    position: absolute;
    height: 140px;
    margin: 0px 20px;
    overflow-x: hidden;
    cursor: pointer;
    padding-top: 7px;
    border-radius: 40px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.logopot2 {
    position: absolute;
    height: 140px;
    margin: 0px 20px;
    overflow-x: hidden;
    cursor: pointer;
    padding-top: 7px;
    border-radius: 100px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
@media only screen and (min-width: 415px){
    .phonelogo {
        display: none;
    }
}
@media only screen and (max-width: 415px){
    .logopot {
        display: none;
    }

    .phonelogo {
        align-content: center;
        height: 110px;
    }
    .phonelogo img {
        margin: 0 20vw;
        width: 60vw;
    }
}

/* <========== SOFIA TEST ==============> */


#column2sofia {
    position: absolute;
    top: 0;
    left: 50vw;
    overflow: auto;
    width: 50vw;
    max-width: 50vw;
    height: 100vh;
    padding: 2em;
    padding-top: 160px;
}
#sofiabody {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


/* ================ STELLA  GRID ===============*/
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    /* border-radius: 4px; */
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
/* .card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 } */

 .photo-grid {
     padding-top: 25vh;
     padding-left: 4vw;
     padding-right: 4vw;
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
 }

 #stellabod {
     background: url(images/stellabackground.png);
 }

 .card-tall {
     grid-row: span 2 / auto;
 }
 
 .card-wide {
     grid-column: span 2 /auto;
 }

 .textstella{
    font-family: roc-grotesk-extrawide, sans-serif;
    font-weight: 400;
    text-align:  right;
    font-size: 17px;
 }
 /* ======= PURPLE MANDARIN ====== */

#jordybod {
    background: url(images/jordybackground.png);
}

#jordytext1 {
    font-size: 13px;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 100;
    text-align: right;
    padding-left: 50px;
}
#jordytext2 {
    font-size: 13px;
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 100;
    text-align: left;
    padding-left: 50px;

}
 /* ======= BELLA MARESCA ====== */

 #bellabod {
     background: url(images/bellagradientbackground.png);
 }

  /* ======= EMA-LEA ====== */
  #ema-leabod {
      background: url(images/#);
  }