
/* General ===============*/
* {
    box-sizing: border-box;
    text-decoration: none;
}

#home {
    background-image: url(images/greytexture.png);
}

.home {
    background-color:#e6e7e8;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-decoration: none;
    overflow-x: hidden;
}

/* ==== Landing Image ============== */
#showcase {
    background-image: url(images/sofiazoestellateaser_1-copy.gif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;

}

#showcase h1 {
    font-size: 50px;  
    color: yellow;
}

#showcase .button{
    font-size: 18px;
    text-decoration:wavy;
    color: yellow;

}
/* Nav Bar ----------------------------------------------------*/

header {
    width: 100%;
    position: absolute;
    z-index: 10;
    font-family: swear-display-cilati;
    font-weight: 400;
    font-size: 17px;
    font-style: italic;
}

@media only screen and (min-width: 801px){

    nav li, nav a{
        display: inline-block;
    }

    .navbar, #nav-profile {
        float: right;
    }

    nav ul {
        float: right;
        
    }

    nav a {
        margin: 20px 30px;
        font-size: 25px;
        letter-spacing: 3px;
        color: #686868;
        transition: 0.25s;
    }
    nav a:hover {
        color: #b9b9b9;
    }
    .hamburger-menu, .sub-menu li{
        display: none;
    }
    
    .hamburger-content {
        transition: 0.5s;
        transform: translate(20vw, -115px);
        transition-property: all;
    }
}

.logo {
    position: absolute;
    width: 300px;
    margin: 0px 20px;
    
}

@media only screen and (max-width: 800px){

    .sub-menu{
        border: none;
        color: white;
        height: 100px;
        width: 100px;
        
    }
    
    .sub-menu {
        float: right;
    }
    .hamburger-menu {
        width: 60px;
        z-index: 15;
        margin-top: 30px;
    }
    
    .hamburger-content {
        background: none;
        z-index: -3;
        text-align: left;
        transition: 0.25s;
        transform: translate(30vw, -115px);
        transition-property: all;
    }
    
    .hamburger-content a {
        color: black;
        padding: 12px 100px 0 0px;
        margin-left: 0;
        text-decoration: none;
        display: block;
        font-size: 20px;
    }

    .hamburger-content li {
        background-color: #f2f2f2;
        color:black;
        padding-top: 10px;
        padding-top: 10px;
    }

    .hamburger-content ol {
        list-style: none;
        transition:0.5s;
        z-index: 0;
        width: 250px;
        background-color: #f2f2f2;
    }
    .sub-menu:hover .hamburger-content {
        transform: translate(-15vw, -115px);
    }
    .hamburger-content a:hover {
        transition:0.3s;
        color:#a5a5a5
    }
    .navbar{
        display: none;
    }
    .dropdown-content {
        display: none;
    }
    #nav-profile {
        display: none;
    }
}

@media only screen and (max-width: 1000px){
    nav a {
        letter-spacing: 0px;
        transition: 0.5s;

    }
}

@media only screen and (max-width: 900px){
    nav a {
        margin: 20px 25px;
        transition: 0.5s;

    }
}

@media only screen and (min-width: 415px){
    .phonelogo {
        display: none;
    }
}
@media only screen and (max-width: 415px){
    .logo {
        display: none;
    }

    .phonelogo {
        align-content: center;
        height: 30vh;
    }
    .phonelogo img {
        margin: 0 20vw;
        width: 60vw;
    }
    .sub-menu{
        position:absolute;
        border: none;
        color: white;
        height: 100px;
        width: 100px;
        transform: translate(83vw, -27vh);
    }
    .hamburger-menu {
        width: 40px;
        z-index: 15;
        margin-top: 10px;
        margin-right: 5px;
    }
  
}

/* ========== images home ========*/
.container {
    width: 100vw;
}
.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 27%;
    padding-top: 150px;
}

.container .box .dream img {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 5px;
}

@media only screen and (max-width: 769px){
    .container .box {
        flex-direction: column;
    }
    .container .box .dream {
        width: 100%;
        padding-left: 90px;
        padding-right: 90px;
        padding-top: 150px;
    }
    
}

@media only screen and (max-width: 415px){

    .container .box .dream {
        padding-top: 0px;
    }
    
}
