
#home {
    background-image: url(images/greytexture.png);
}
/*
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color:yellow;
    line-height: 1.6;
}
#logo {
    width: 30%;
    height: 30%
}
Nav Bar ------------------------------------------------------
*/

header {
    width: 100%;
    position: absolute;
    z-index: 10;
}

@media only screen and (min-width: 801px){

    nav li, nav a{
        display: inline-block;
    }

    .navbar, #nav-profile {
        float: right;
    }

    nav ul {
        float: right;
        
    }

    nav a {
        margin: 2.8vw 2.8vw;
        font-size: 1.6vw;
        letter-spacing: 0.35vw;
        color: #c4c4c4;
        transition: 0.25s;
    }

    nav a:hover {
        color: #6d6d6d;
    }

    .login {
        margin-right: 10vw;
    }

    #nav-profile {
        width: 4vw;
        margin-left: 3vw;
        border-radius: 4vw;
        border: 1px solid black;
        transform: translate(-150%, 74%);
        z-index: 20;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #eeeeee;
        width: 10vw;
        z-index: 1;
        top: 7vw;
        left: 87vw;
    }
    .dropdown-content a {
        color: rgb(49, 49, 49);
        padding: 0.9vw 1.2vw;
        display: block;
        text-align: center
    }
    .dropdown-content a:hover {
        background-color: rgb(163, 163, 163);
        color: white;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    #nav-profile:hover {
        border: 2px solid green !important;
        transition: ease-in-out 0.3s;
    }

    .hamburger-menu, .sub-menu li{
        display: none;
    }
}

.logo {
    position: absolute;
    width: 13vw;
    margin: 0vw 3vw;
}



@media only screen and (max-width: 800px){

    .sub-menu {
        float: left;
        overflow: hidden;
    }
    
    .sub-menu .hamburger-menu {
        border: none;
        color: white;
        padding: 14px 16px;
        margin: 0;
    }
    
    .sub-menu {
        transform: translate(90vw, -2vh);
    }
    .sub-menu img {
        width: 70px;
        z-index: 10;
    }
    
    .hamburger-content {
        position: absolute;
        background: none;
        z-index: 1;
        text-align: center;
    }
    
    .hamburger-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 2vw;
    }

    .hamburger-content li {
        background-color: #f2f2f2;
    }
    
    .hamburger-content li:hover {
        background-color: #ddd;
    }
    
    .sub-menu:hover .hamburger-content {
        list-style: none;
    }
    .sub-menu:hover {
        overflow: visible;
        height: 100vh;
    }
    .sub-menu:hover .hamburger-content li{
        width: 12vw !important;
        transform: translate(-4vw, 0);
    }
    .navbar{
        display: none;
    }
    .dropdown-content {
        display: none;
    }
    #companyweirdo {
        transform: translate(-0.6vw, 0);
    }
    #nav-profile {
        display: none;
    }
}


/* ==== Nav ======================== 
.main-nav {
    margin: 20px auto;
    width: 90vw;
    align-content: center;
}

.main-nav ul {
    list-style-type: none;
    display: block;
}

.main-nav ul li {
    margin-right: 10vw;
}

.main-nav ul li:last-child {
    margin-right: 0;
}

.main-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.7em;
    transition: 0.25s;
}

.main-nav ul li a:hover {
    text-decoration: underline;
    color: #999;
}

.main-nav li, .main-nav a {
    display: inline-block;
}
*/

/* #landing {
    background-image: url(images/Screen\ Shot\ 2021-08-14\ at\ 12.45.25\ PM.png);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-size: 100%;
}*/

/* ==== Landing Image ============== */
#showcase {
    background-image: url(images/scanedit2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 0 20px;
    text-align: center;

}

#showcase h1 {
    font-size: 50px;  
}

#showcase p {
    font-size: 20;

}

#showcase .button{
    font-size: 18px;
    text-decoration:wavy;
    color: yellow;

}

